@import url('https://fonts.cdnfonts.com/css/shrikhand');
@import url('https://fonts.cdnfonts.com/css/saira-extracondensed');

.maxW-336 {
    max-width: 336px !important;
}

.gap-40 {
    gap: 40px
}

.gap-24 {
    gap: 24px;
}

.me-214 {
    margin-right: 214px;
}

.z-index-9 {
    z-index: 9;
}


.fs-54 {
    font-size: 54px;
}

.fs-96 {
    font-size: 96px;
}

.fs-400 {
    font-size: 400px;
}

.fs-italic {
    font-style: italic;
}

.ft-Shrikhand {
    font-family: Shrikhand;
}

.ft-SairaExtraCondensed {
    font-family: 'Saira ExtraCondensed'
}

.fw-500 {
    font-weight: 500;
}

.mb-54 {
    margin-bottom: 54px;
}

.pt-56 {
    padding-top: 56px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-56 {
    padding-bottom: 56px;
}

.mb-136 {
    margin-bottom: 136px;
}

.py-144 {
    padding-top: 144px;
    padding-bottom: 144px;
}

.h-308 {
    height: 308px;
}

.h-368 {
    height: 368px;
}

.h-563 {
    height: 563px;
}

.h-876 {
    height: 876px;
}

.h-1080 {
    height: 1080px;
}

.w-124 {
    width: 124px !important;
}

.w-416 {
    width: 416px;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.card-rect {
    width: 416px;
    height: 416px;
}

.card-rect-color {
    background: #380C7E;
}

.letter-spacing-80 {
    letter-spacing: 80px;
}

.letter-spacing-16 {
    letter-spacing: 16px;
}

.letter-spacing-48 {
    letter-spacing: 48px;
}

.text-justify {
    text-align: justify;
}

.bg-contact {
    background: #1F0F39;
}

.fs-64-96 {
    font-size: 96px;

    @include pc {
        font-size: 64px;
    }
}


.fs-24-48 {
    font-size: 48px;

    @include pc {
        font-size: 24px;
    }
}

.fs-24-32 {
    font-size: 32px;

    @include pc {
        font-size: 24px;
    }
}