<div class="footer bg-white">
    <div class="container bg-white d-flex justify-content-around align-items-center">
        <div class="py-52">
            <h2 class="fs-32 ft-Shrikhand text-dark">ALPHABOX+</h2>
            <span class="fw-bold text-dark">Copyright © 2023 Hexschool.</span>
        </div>

        <span class="material-symbols-outlined fs-60 text-dark">
            emergency
        </span>

        <ul class="d-flex m-0 p-0 gap-24 fw-bold">
            <li><a href="#" class="text-black">關於我們</a></li>
            <li><a href="#" class="text-black">產品資訊</a></li>
            <li><a href="#" class="text-black">常見問題</a></li>
            <li><a href="#" class="text-black">隱私政策</a></li>
        </ul>

    </div>
</div>