<nav class="navbar navbar-expand-lg navbar-dark border-bottom">
    <div class="container bg-primary-3">
      <a class="navbar-brand text-white fs-32 text-white py-16 ft-Shrikhand col-3" href="#">ALPHABOX+</a>
      <button class="navbar-toggler border custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse custom-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto text-white  d-flex  justify-content-center align-items-center">
          <li class="nav-item me-0 me-md-20 me-xl-40 mb-20 mb-lg-0 mt-24 mt-lg-0">
            <a class="nav-link text-white" aria-current="page" href="#">產品</a>
          </li>
          <li class="nav-item me-0 me-md-20 me-xl-40 mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">關於我們</a>
          </li>
          <li class="nav-item me-0 me-md-20 me-xl-40 mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">最新消息</a>
          </li>
          <li class="nav-item me-0 me-md-20 me-xl-40 mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">FAQ</a>
          </li>
          <li class="nav-item me-0 me-md-20 me-xl-auto mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">聯絡我們</a>
          </li>
        </ul>
        <ul class="navbar-nav text-white d-flex justify-content-center align-items-center">
          <li class="nav-item me-24 mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">註冊</a>
          </li>
          <li class="nav-item me-24 mb-20 mb-lg-0">
            <a class="nav-link text-white" href="#">登入</a>
          </li>
          <li class="nav-item mb-20 mb-lg-0"><a href="#" class="nav-link bg-white text-black py-8 px-16 d-flex justify-content-center align-items-center">
            <span class="material-symbols-outlined me-4">
                point_scan
            </span><span>訂閱</span></a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

