<div class="header border-bottom">
    <div class="container d-flex justify-content-around align-items-center">
        <h1 class="fs-32 text-white py-16 fs-italic ft-Shrikhand">ALPHABOX+</h1>
        <ul class="d-flex gap-40 m-0 p-0">
            <li><a href="#" class="text-white">產品</a></li>
            <li><a href="#" class="text-white">關於我們</a></li>
            <li><a href="#" class="text-white">最新消息</a></li>
            <li><a href="#" class="text-white">FAQ</a></li>
            <li><a href="#" class="text-white">聯絡我們</a></li>
        </ul>

        <div class="d-flex align-items-center">
            <ul class="d-flex gap-24 align-items-center m-0 p-0">
                <li><a href="#" class="text-white">註冊</a></li>
                <li><a href="#" class="text-white me-32">登入</a></li>
                <li><a href="#" class="bg-white text-black py-8 px-16 d-flex justify-content-center align-items-center"><span class="material-symbols-outlined me-4">
                    point_scan
                    </span><span>訂閱</span></a></li>
            </ul>
        </div>
        
    </div>
</div>